In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.float_format = '{:.2f}'.format

In [12]:
frame_comp = pd.read_csv("train.csv")
frame_origin = pd.read_csv("Insurance Premium Prediction Dataset.csv")

frame_comp = 대회 데이터
frame_origin = 원본 데이터

대회 데이터는 원본 데이터를 이용해서 생성된 데이터이다.
그래서 두 데이터가 중복값이 있는지 확인 후 두 데이터 프레임을 병합 후 사용

종속 변수 : Premium Amount
독립 변수 : 나머지

In [13]:
frame_comp.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.00,Female,10049.00,Married,1.00,Bachelor's,Self-Employed,22.60,Urban,...,2.00,17.00,372.00,5.00,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.00
1,1,39.00,Female,31678.00,Divorced,3.00,Master's,NaN,15.57,Rural,...,1.00,12.00,694.00,2.00,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.00
2,2,23.00,Male,25602.00,Divorced,3.00,High School,Self-Employed,47.18,Suburban,...,1.00,14.00,NaN,3.00,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.00
3,3,21.00,Male,141855.00,Married,2.00,Bachelor's,NaN,10.94,Rural,...,1.00,0.00,367.00,1.00,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.00
4,4,21.00,Male,39651.00,Single,1.00,Bachelor's,Self-Employed,20.38,Rural,...,0.00,8.00,598.00,4.00,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.00

In [16]:
frame_origin.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,56.00,Male,99990.00,Married,1.00,Master's,NaN,31.07,Urban,Comprehensive,NaN,13,320.00,5,308.00,2022-12-10 15:21:39.078837,Poor,Yes,Daily,Condo
1,46.00,Male,2867.00,Single,1.00,Bachelor's,NaN,50.27,Urban,Comprehensive,NaN,3,694.00,4,517.00,2023-01-31 15:21:39.078837,Good,Yes,Monthly,House
2,32.00,Female,30154.00,Divorced,3.00,Bachelor's,NaN,14.71,Suburban,Comprehensive,2.00,16,652.00,8,849.00,2023-11-26 15:21:39.078837,Poor,No,Monthly,House
3,60.00,Female,48371.00,Divorced,0.00,PhD,Self-Employed,25.35,Rural,Comprehensive,1.00,11,330.00,7,927.00,2023-02-27 15:21:39.078837,Poor,No,Rarely,Condo
4,25.00,Female,54174.00,Divorced,0.00,High School,Self-Employed,6.66,Urban,Comprehensive,NaN,9,NaN,8,303.00,2020-11-25 15:21:39.078837,Poor,No,Rarely,Condo

In [14]:
frame_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [17]:
frame_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278860 entries, 0 to 278859
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Age                   274175 non-null  float64
 1   Gender                278860 non-null  object
 2   Annual Income         264905 non-null  float64
 3   Marital Status        273841 non-null  object
 4   Number of Dependents  250974 non-null  float64
 5   Education Level       278860 non-null  object
 6   Occupation            197572 non-null  object
 7   Health Score          268263 non-null  float64
 8   Location              278860 non-null  object
 9   Policy Type           278860 non-null  object
 10  Previous Claims       197572 non-null  float64
 11  Vehicle Age           278860 non-null  int64
 12  Credit Score          250974 non-null  float64
 13  Insurance Duration    278860 non-null  int64
 14  Premium Amount        277019 non-null  float64
 15  Policy Start Date     278860 non-null  object
 16  Customer Feedback     260511 non-null  object
 17  Smoking Status        278860 non-null  object
 18  Exercise Frequency    278860 non-null  object
 19  Property Type         278860 non-null  object
dtypes: float64(7), int64(2), object(11)
memory usage: 42.6+ MB

frame_comp, frame_origin 두 프레임 모두 null값이 있다.

In [15]:
frame_comp.describe()

,id,Age,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount
count,1200000.00,1181295.00,1155051.00,1090328.00,1125924.00,835971.00,1199994.00,1062118.00,1199999.00,1200000.00
mean,599999.50,41.15,32745.22,2.01,25.61,1.00,9.57,592.92,5.02,1102.54
std,346410.31,13.54,32179.51,1.42,12.20,0.98,5.78,149.98,2.59,865.00
min,0.00,18.00,1.00,0.00,2.01,0.00,0.00,300.00,1.00,20.00
25%,299999.75,30.00,8001.00,1.00,15.92,0.00,5.00,468.00,3.00,514.00
50%,599999.50,41.00,23911.00,2.00,24.58,1.00,10.00,595.00,5.00,872.00
75%,899999.25,53.00,44634.00,3.00,34.53,2.00,15.00,721.00,7.00,1509.00
max,1199999.00,64.00,149997.00,4.00,58.98,9.00,19.00,849.00,9.00,4999.00

In [18]:
frame_origin.describe()

,Age,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount
count,274175.00,264905.00,250974.00,268263.00,197572.00,278860.00,250974.00,278860.00,277019.00
mean,41.02,42089.09,2.00,28.58,1.00,9.52,574.36,5.01,966.12
std,13.55,35444.52,1.41,15.97,1.00,5.77,158.79,2.58,909.40
min,18.00,0.00,0.00,0.04,0.00,0.00,300.00,1.00,0.00
25%,29.00,13588.00,1.00,16.15,0.00,5.00,437.00,3.00,286.00
50%,41.00,32191.00,2.00,26.45,1.00,10.00,575.00,5.00,688.00
75%,53.00,62164.00,3.00,38.97,2.00,15.00,712.00,7.00,1367.00
max,64.00,149997.00,4.00,93.88,9.00,19.00,849.00,9.00,4999.00

두 데이터 프레임의 통계값이 유사하다고 판단했다.

In [19]:
frame_comp.drop(columns="id", inplace=True)

In [25]:
print(set(frame_comp.columns) == set(frame_origin.columns))

common_columns = frame_comp.columns.intersection(frame_origin.columns)
print(frame_comp[common_columns].dtypes == frame_origin[common_columns].dtypes).all()

True
Age                      True
Gender                   True
Annual Income            True
Marital Status           True
Number of Dependents     True
Education Level          True
Occupation               True
Health Score             True
Location                 True
Policy Type              True
Previous Claims          True
Vehicle Age             False
Credit Score             True
Insurance Duration      False
Policy Start Date        True
Customer Feedback        True
Smoking Status           True
Exercise Frequency       True
Property Type            True
Premium Amount           True
dtype: bool

AttributeError: 'NoneType' object has no attribute 'all'

frame_comp와 frame_origin의 열 이름은 모두 동일하다.

하지만 Vehicle Age와 Insurance Duration의 데이터 타입이 다르다. 이 부분을 살펴보니 int형과 float형의 차이였다. 그리고 Vehicle Age와 Insurance Duration은 년수를 의미하는 열이므로 int형과 float형의 차이가 유의미하지 않다고 판단했다. 그래서 이 두 열의 데이터 타입 차이가 있는 것이고 값, 열의 의미를 고려했을 때 두 데이터 프레임을 병합하는데 문제 없다고 판단했다.

두 데이터 프레임을 병합하는데 문제 없다고 판단한 근거
1. 모든 열의 이름이 같다.
2. 모든 열의 통계값이 유사하다.
3. 데이터 타입 차이가 존재하나 열의 의미를 생각했을 때 데이터 타입의 차이가 유의미하지 않다.

In [39]:
common_columns = frame_comp.columns.intersection(frame_origin.columns)
print(len(common_columns))
frame = pd.concat([frame_comp, frame_origin], ignore_index=True)

20

In [31]:
print(len(frame.columns))
print(frame.columns)

20
Index(['Age', 'Gender', 'Annual Income', 'Marital Status',
       'Number of Dependents', 'Education Level', 'Occupation', 'Health Score',
       'Location', 'Policy Type', 'Previous Claims', 'Vehicle Age',
       'Credit Score', 'Insurance Duration', 'Policy Start Date',
       'Customer Feedback', 'Smoking Status', 'Exercise Frequency',
       'Property Type', 'Premium Amount'],
      dtype='object')

In [32]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478860 entries, 0 to 1478859
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1455470 non-null  float64
 1   Gender                1478860 non-null  object
 2   Annual Income         1419956 non-null  float64
 3   Marital Status        1455312 non-null  object
 4   Number of Dependents  1341302 non-null  float64
 5   Education Level       1478860 non-null  object
 6   Occupation            1039497 non-null  object
 7   Health Score          1394187 non-null  float64
 8   Location              1478860 non-null  object
 9   Policy Type           1478860 non-null  object
 10  Previous Claims       1033543 non-null  float64
 11  Vehicle Age           1478854 non-null  float64
 12  Credit Score          1313092 non-null  float64
 13  Insurance Duration    1478859 non-null  float64
 14  Policy Start Date     1478860 non-null  object
 15  Customer Feedback     1382687 non-null  object
 16  Smoking Status        1478860 non-null  object
 17  Exercise Frequency    1478860 non-null  object
 18  Property Type         1478860 non-null  object
 19  Premium Amount        1477019 non-null  float64
dtypes: float64(9), object(11)
memory usage: 225.7+ MB

In [37]:
print(set(frame.columns) == set(frame_origin.columns) and set(frame.columns) == set(frame_comp.columns))
print(frame["Vehicle Age"].dtypes)
print(frame["Insurance Duration"].dtypes)

True
float64
float64

병합된 데이터 프레임과 다른 두 데이터 프레임의 열 이름은 동일하다. 즉, 20개 열이 모두 사용되어 병합되었다.

데이터 타입이 다른 두 열의 데이터 타입도 확인했다. 두 열은 모두 년수를 의미하므로 모든 열의 데이터 타입을 변환할 때 int형으로 변환할 예정이다.

In [33]:
frame.describe()

,Age,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount
count,1455470.00,1419956.00,1341302.00,1394187.00,1033543.00,1478854.00,1313092.00,1478859.00,1477019.00
mean,41.12,34488.40,2.01,26.19,1.00,9.56,589.38,5.02,1076.96
std,13.54,33014.54,1.42,13.06,0.99,5.77,151.88,2.59,875.12
min,18.00,0.00,0.00,0.04,0.00,0.00,300.00,1.00,0.00
25%,29.00,9068.00,1.00,15.94,0.00,5.00,463.00,3.00,468.00
50%,41.00,24996.00,2.00,24.85,1.00,10.00,591.00,5.00,837.00
75%,53.00,46313.00,3.00,35.24,2.00,15.00,719.00,7.00,1484.00
max,64.00,149997.00,4.00,93.88,9.00,19.00,849.00,9.00,4999.00

In [40]:
frame_comp.describe()

,Age,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount
count,1181295.00,1155051.00,1090328.00,1125924.00,835971.00,1199994.00,1062118.00,1199999.00,1200000.00
mean,41.15,32745.22,2.01,25.61,1.00,9.57,592.92,5.02,1102.54
std,13.54,32179.51,1.42,12.20,0.98,5.78,149.98,2.59,865.00
min,18.00,1.00,0.00,2.01,0.00,0.00,300.00,1.00,20.00
25%,30.00,8001.00,1.00,15.92,0.00,5.00,468.00,3.00,514.00
50%,41.00,23911.00,2.00,24.58,1.00,10.00,595.00,5.00,872.00
75%,53.00,44634.00,3.00,34.53,2.00,15.00,721.00,7.00,1509.00
max,64.00,149997.00,4.00,58.98,9.00,19.00,849.00,9.00,4999.00

In [41]:
frame_origin.describe()

,Age,Annual Income,Number of Dependents,Health Score,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount
count,274175.00,264905.00,250974.00,268263.00,197572.00,278860.00,250974.00,278860.00,277019.00
mean,41.02,42089.09,2.00,28.58,1.00,9.52,574.36,5.01,966.12
std,13.55,35444.52,1.41,15.97,1.00,5.77,158.79,2.58,909.40
min,18.00,0.00,0.00,0.04,0.00,0.00,300.00,1.00,0.00
25%,29.00,13588.00,1.00,16.15,0.00,5.00,437.00,3.00,286.00
50%,41.00,32191.00,2.00,26.45,1.00,10.00,575.00,5.00,688.00
75%,53.00,62164.00,3.00,38.97,2.00,15.00,712.00,7.00,1367.00
max,64.00,149997.00,4.00,93.88,9.00,19.00,849.00,9.00,4999.00

병합된 데이터 프레임과 병합할 때 사용한 두 데이터 프레임 총 3개의 데이터 프레임의 통계값도 모두 유사하다.


즉, 병합으로 데이터가 손상되지 않았다고 판단했다.