In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.float_format = '{:.2f}'.format

In [2]:
frame_comp = pd.read_csv("train.csv")
frame_origin = pd.read_csv("Insurance Premium Prediction Dataset.csv")

frame_comp = 대회 데이터

frame_origin = 원본 데이터

대회 데이터는 원본 데이터를 이용해서 생성된 데이터이다. 그래서 두 데이터를 병합하기 전에 두 데이터를 병합해도 문제 없는지 판단 후 병합 예정이다.

종속 변수 : Premium Amount

In [3]:
frame_comp.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.00,Female,10049.00,Married,1.00,Bachelor's,Self-Employed,22.60,Urban,...,2.00,17.00,372.00,5.00,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.00
1,1,39.00,Female,31678.00,Divorced,3.00,Master's,NaN,15.57,Rural,...,1.00,12.00,694.00,2.00,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.00
2,2,23.00,Male,25602.00,Divorced,3.00,High School,Self-Employed,47.18,Suburban,...,1.00,14.00,NaN,3.00,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.00
3,3,21.00,Male,141855.00,Married,2.00,Bachelor's,NaN,10.94,Rural,...,1.00,0.00,367.00,1.00,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.00
4,4,21.00,Male,39651.00,Single,1.00,Bachelor's,Self-Employed,20.38,Rural,...,0.00,8.00,598.00,4.00,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.00

In [4]:
frame_origin.head()

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Premium Amount,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,56.00,Male,99990.00,Married,1.00,Master's,NaN,31.07,Urban,Comprehensive,NaN,13,320.00,5,308.00,2022-12-10 15:21:39.078837,Poor,Yes,Daily,Condo
1,46.00,Male,2867.00,Single,1.00,Bachelor's,NaN,50.27,Urban,Comprehensive,NaN,3,694.00,4,517.00,2023-01-31 15:21:39.078837,Good,Yes,Monthly,House
2,32.00,Female,30154.00,Divorced,3.00,Bachelor's,NaN,14.71,Suburban,Comprehensive,2.00,16,652.00,8,849.00,2023-11-26 15:21:39.078837,Poor,No,Monthly,House
3,60.00,Female,48371.00,Divorced,0.00,PhD,Self-Employed,25.35,Rural,Comprehensive,1.00,11,330.00,7,927.00,2023-02-27 15:21:39.078837,Poor,No,Rarely,Condo
4,25.00,Female,54174.00,Divorced,0.00,High School,Self-Employed,6.66,Urban,Comprehensive,NaN,9,NaN,8,303.00,2020-11-25 15:21:39.078837,Poor,No,Rarely,Condo

두 데이터 프레임의 알파벳 순서로 내림차순 정렬

In [5]:
frame_comp = frame_comp[sorted(frame_comp.columns)]
frame_origin = frame_origin[sorted(frame_origin.columns)]

열 이름 동일한지 확인

In [6]:
print(set(frame_comp.columns) == set(frame_origin.columns))

False

In [7]:
print(set(frame_origin.columns) - set(frame_comp.columns))
print(set(frame_comp.columns) - set(frame_origin.columns))

set()
{'id'}

frame_comp에는 id열이 존재하나 frame_origin에는 id 열이 존재하지 않는다.

id 열을 제외한 다른 열의 이름은 모두 동일하다.

id 열 제거

In [8]:
frame_comp.drop(columns="id", inplace=True)
print(set(frame_comp.columns) == set(frame_origin.columns))

True

id 열을 제거 판단 근거
1. 병합할 때 id 열이 없는 부분은 결측치가 된다.
2. 회원 id가 보험료를 회귀 예측 하는데 유의미하지 않을 것이라 판단했다.

결측치 존재 확인

In [9]:
frame_comp.isnull().sum()

Age                      18705
Annual Income            44949
Credit Score            137882
Customer Feedback        77824
Education Level              0
Exercise Frequency           0
Gender                       0
Health Score             74076
Insurance Duration           1
Location                     0
Marital Status           18529
Number of Dependents    109672
Occupation              358075
Policy Start Date            0
Policy Type                  0
Premium Amount               0
Previous Claims         364029
Property Type                0
Smoking Status               0
Vehicle Age                  6
dtype: int64

In [10]:
frame_origin.isnull().sum()

Age                      4685
Annual Income           13955
Credit Score            27886
Customer Feedback       18349
Education Level             0
Exercise Frequency          0
Gender                      0
Health Score            10597
Insurance Duration          0
Location                    0
Marital Status           5019
Number of Dependents    27886
Occupation              81288
Policy Start Date           0
Policy Type                 0
Premium Amount           1841
Previous Claims         81288
Property Type               0
Smoking Status              0
Vehicle Age                 0
dtype: int64

두 데이터 프레임 모두 여러 열에서 결측치가 존재한다.

두 데이터 프레임의 데이터 타입이 모두 동일한지 확인

In [11]:
print(frame_comp[frame_comp.columns].dtypes == frame_origin[frame_origin.columns].dtypes)

Age                      True
Annual Income            True
Credit Score             True
Customer Feedback        True
Education Level          True
Exercise Frequency       True
Gender                   True
Health Score             True
Insurance Duration      False
Location                 True
Marital Status           True
Number of Dependents     True
Occupation               True
Policy Start Date        True
Policy Type              True
Premium Amount           True
Previous Claims          True
Property Type            True
Smoking Status           True
Vehicle Age             False
dtype: bool

In [12]:
print("Insurance Duration")
print("frame_comp['Insurance Duration'] : " + str(frame_comp["Insurance Duration"].dtypes))
print("frame_origin['Insurance Duration'] : " + str(frame_origin["Insurance Duration"].dtypes) + "\n")

print("Vehicle Age")
print("frame_comp['Vehicle Age'] : " + str(frame_comp["Vehicle Age"].dtypes))
print("frame_origin['Vehicle Age'] : " + str(frame_origin["Vehicle Age"].dtypes))

Insurance Duration
frame_comp['Insurance Duration'] : float64
frame_origin['Insurance Duration'] : int64

Vehicle Age
frame_comp['Vehicle Age'] : float64
frame_origin['Vehicle Age'] : int64

Vehicle Age와 Insurance Duration의 데이터 타입이 다르다. 두 열의 데이터 타입을 살펴보니 두 열 모두 int64와 float64의 차이였다.

Vehicle Age와 Insurance Duration 두 열 모두 년수를 의미하는 열이다. 그래서 두 열의 의미를 고려했을 때 데이터 타입의 차이는 유의미하지 않다고 판단했다. 그래서 결측치, 데이터 범위, 정규화를 고려해서 데이터 타입 변환은 float64가 적합하다고 판단했다.

데이터 타입 형 변환

In [13]:
frame_comp['Insurance Duration'] = frame_comp['Insurance Duration'].astype('float64')
frame_origin['Insurance Duration'] = frame_origin['Insurance Duration'].astype('float64')

frame_comp['Vehicle Age'] = frame_comp['Vehicle Age'].astype('float64')
frame_origin['Vehicle Age'] = frame_origin['Vehicle Age'].astype('float64')

print("Insurance Duration")
print("frame_comp['Insurance Duration'] : " + str(frame_comp["Insurance Duration"].dtypes))
print("frame_origin['Insurance Duration'] : " + str(frame_origin["Insurance Duration"].dtypes) + "\n")

print("Vehicle Age")
print("frame_comp['Vehicle Age'] : " + str(frame_comp["Vehicle Age"].dtypes))
print("frame_origin['Vehicle Age'] : " + str(frame_origin["Vehicle Age"].dtypes))
print(frame_comp[frame_comp.columns].dtypes == frame_origin[frame_origin.columns].dtypes)

Insurance Duration
frame_comp['Insurance Duration'] : float64
frame_origin['Insurance Duration'] : float64

Vehicle Age
frame_comp['Vehicle Age'] : float64
frame_origin['Vehicle Age'] : float64
Age                     True
Annual Income           True
Credit Score            True
Customer Feedback       True
Education Level         True
Exercise Frequency      True
Gender                  True
Health Score            True
Insurance Duration      True
Location                True
Marital Status          True
Number of Dependents    True
Occupation              True
Policy Start Date       True
Policy Type             True
Premium Amount          True
Previous Claims         True
Property Type           True
Smoking Status          True
Vehicle Age             True
dtype: bool

Vehicle Age와 Insurance Duration 두 열 모두 데이터 타입 float64로 변환했다.

통계값 차이 확인

In [14]:
diff = frame_origin.describe() - frame_comp.describe()
diff

,Age,Annual Income,Credit Score,Health Score,Insurance Duration,Number of Dependents,Premium Amount,Previous Claims,Vehicle Age
count,-907120.00,-890146.00,-811144.00,-857661.00,-921139.00,-839354.00,-922981.00,-638399.00,-921134.00
mean,-0.12,9343.87,-18.56,2.97,-0.01,-0.01,-136.43,-0.00,-0.05
std,0.01,3265.01,8.81,3.76,-0.01,-0.01,44.41,0.02,-0.01
min,0.00,-1.00,0.00,-1.98,0.00,0.00,-20.00,0.00,0.00
25%,-1.00,5587.00,-31.00,0.23,0.00,0.00,-228.00,0.00,0.00
50%,0.00,8280.00,-20.00,1.87,0.00,0.00,-184.00,0.00,0.00
75%,0.00,17530.00,-9.00,4.44,0.00,0.00,-142.00,0.00,0.00
max,0.00,0.00,0.00,34.90,0.00,0.00,0.00,0.00,0.00

두 데이터 프레임의 통계값의 차이가 유의미하지 않다고 판단했다.

중복값 확인

In [15]:
common_rows = pd.merge(frame_comp, frame_origin)
common_rows

Empty DataFrame
Columns: [Age, Annual Income, Credit Score, Customer Feedback, Education Level, Exercise Frequency, Gender, Health Score, Insurance Duration, Location, Marital Status, Number of Dependents, Occupation, Policy Start Date, Policy Type, Premium Amount, Previous Claims, Property Type, Smoking Status, Vehicle Age]
Index: []

중복값은 존재하지 않는다.

두 데이터 프레임을 병합하는데 문제 없다고 판단한 근거
1. 모든 열의 수, 열의 이름, 열의 의미 모두 동일하다.
2. 모든 열의 통계값이 유사하고 단위도 동일하다.
3. 중복값이 존재하지 않는다.
3. 데이터 타입 차이가 존재하나 해당 열의 통계값 차이, 열의 의미를 생각했을 때 데이터 타입의 차이가 유의미하지 않다.

데이터 프레임 병합

In [16]:
common_columns = frame_comp.columns.intersection(frame_origin.columns)

frame = pd.concat([frame_comp, frame_origin], ignore_index=True)

병합된 데이트 프레임 확인

병합된 데이터 프레임 열의 수, 열의 이름 동일 여부

In [17]:
print('frame_comp 열 수 :' + str(len(frame_comp.columns)))
print('frame_origin 열 수 :' + str(len(frame_origin.columns)))
print('frame 열 수 : ' + str(len(frame.columns)))

print('\n열 이름 동일 여부\n' + str(set(frame.columns) == set(frame_origin.columns) and set(frame.columns) == set(frame_comp.columns)))

frame_comp 열 수 :20
frame_origin 열 수 :20
frame 열 수 : 20

열 이름 동일 여부
True

병합된 데이터 프레임의 열의 수, 열의 이름과 병합에 사용한 두 데이터 프레임의 열의 수, 열의 이름이 동일하다.

병합된 데이터 프레임 행의 수 확인

In [18]:
print(frame.info())
print('\n행 수 동일 여부 : ' + str((len(frame_origin) + len(frame_comp)) == len(frame)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478860 entries, 0 to 1478859
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1455470 non-null  float64
 1   Annual Income         1419956 non-null  float64
 2   Credit Score          1313092 non-null  float64
 3   Customer Feedback     1382687 non-null  object
 4   Education Level       1478860 non-null  object
 5   Exercise Frequency    1478860 non-null  object
 6   Gender                1478860 non-null  object
 7   Health Score          1394187 non-null  float64
 8   Insurance Duration    1478859 non-null  float64
 9   Location              1478860 non-null  object
 10  Marital Status        1455312 non-null  object
 11  Number of Dependents  1341302 non-null  float64
 12  Occupation            1039497 non-null  object
 13  Policy Start Date     1478860 non-null  object
 14  Policy Type           1478860 non-null  object
 15  Premium Amount        1477019 non-null  float64
 16  Previous Claims       1033543 non-null  float64
 17  Property Type         1478860 non-null  object
 18  Smoking Status        1478860 non-null  object
 19  Vehicle Age           1478854 non-null  float64
dtypes: float64(9), object(11)
memory usage: 225.7+ MB
None

행 수 동일 여부 : True

병합된 데이터 프레임의 행의 수와 병합에 사용한 두 데이터 프레임의 행의 수를 더한 값과 동일하다.

병합된 데이터 프레임과 병합에 사용된 2 개의 데이터 프레임과의 통계값 차이 비교

In [19]:
frame.describe() - frame_comp.describe()

,Age,Annual Income,Credit Score,Health Score,Insurance Duration,Number of Dependents,Premium Amount,Previous Claims,Vehicle Age
count,274175.00,264905.00,250974.00,268263.00,278860.00,250974.00,277019.00,197572.00,278860.00
mean,-0.02,1743.18,-3.55,0.57,-0.00,-0.00,-25.59,-0.00,-0.01
std,0.00,835.04,1.90,0.86,-0.00,-0.00,10.12,0.00,-0.00
min,0.00,-1.00,0.00,-1.98,0.00,0.00,-20.00,0.00,0.00
25%,-1.00,1067.00,-5.00,0.02,0.00,0.00,-46.00,0.00,0.00
50%,0.00,1085.00,-4.00,0.27,0.00,0.00,-35.00,0.00,0.00
75%,0.00,1679.00,-2.00,0.72,0.00,0.00,-25.00,0.00,0.00
max,0.00,0.00,0.00,34.90,0.00,0.00,0.00,0.00,0.00

In [20]:
frame.describe() - frame_origin.describe()

,Age,Annual Income,Credit Score,Health Score,Insurance Duration,Number of Dependents,Premium Amount,Previous Claims,Vehicle Age
count,1181295.00,1155051.00,1062118.00,1125924.00,1199999.00,1090328.00,1200000.00,835971.00,1199994.00
mean,0.10,-7600.69,15.01,-2.40,0.01,0.01,110.84,0.00,0.04
std,-0.01,-2429.98,-6.91,-2.90,0.01,0.00,-34.28,-0.01,0.01
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,-4520.00,26.00,-0.21,0.00,0.00,182.00,0.00,0.00
50%,0.00,-7195.00,16.00,-1.60,0.00,0.00,149.00,0.00,0.00
75%,0.00,-15851.00,7.00,-3.72,0.00,0.00,117.00,0.00,0.00
max,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [21]:
(frame.describe() * 2) - (frame_comp.describe() + frame_origin.describe())

,Age,Annual Income,Credit Score,Health Score,Insurance Duration,Number of Dependents,Premium Amount,Previous Claims,Vehicle Age
count,1455470.00,1419956.00,1313092.00,1394187.00,1478859.00,1341302.00,1477019.00,1033543.00,1478854.00
mean,0.08,-5857.51,11.47,-1.83,0.01,0.01,85.25,0.00,0.03
std,-0.01,-1594.94,-5.01,-2.04,0.01,0.00,-24.16,-0.01,0.01
min,0.00,-1.00,0.00,-1.98,0.00,0.00,-20.00,0.00,0.00
25%,-1.00,-3453.00,21.00,-0.19,0.00,0.00,136.00,0.00,0.00
50%,0.00,-6110.00,12.00,-1.33,0.00,0.00,114.00,0.00,0.00
75%,0.00,-14172.00,5.00,-3.01,0.00,0.00,92.00,0.00,0.00
max,0.00,0.00,0.00,34.90,0.00,0.00,0.00,0.00,0.00

병합된 데이터 프레임과 병합할 때 사용한 두 데이터 프레임과 통계값을 비교했을 때 통계값 차이가 유의미하지 않다.

데이터 타입 설정

In [22]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478860 entries, 0 to 1478859
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1455470 non-null  float64
 1   Annual Income         1419956 non-null  float64
 2   Credit Score          1313092 non-null  float64
 3   Customer Feedback     1382687 non-null  object
 4   Education Level       1478860 non-null  object
 5   Exercise Frequency    1478860 non-null  object
 6   Gender                1478860 non-null  object
 7   Health Score          1394187 non-null  float64
 8   Insurance Duration    1478859 non-null  float64
 9   Location              1478860 non-null  object
 10  Marital Status        1455312 non-null  object
 11  Number of Dependents  1341302 non-null  float64
 12  Occupation            1039497 non-null  object
 13  Policy Start Date     1478860 non-null  object
 14  Policy Type           1478860 non-null  object
 15  Premium Amount        1477019 non-null  float64
 16  Previous Claims       1033543 non-null  float64
 17  Property Type         1478860 non-null  object
 18  Smoking Status        1478860 non-null  object
 19  Vehicle Age           1478854 non-null  float64
dtypes: float64(9), object(11)
memory usage: 225.7+ MB

float64 열의 소수 부분이 0인지 아닌지 확인

In [23]:
check_frame = frame
check_frame = check_frame.dropna()

for column in check_frame.columns:
    if frame[column].dtype == 'float64':
        print(column)
        print((np.modf(check_frame[column])[0] == 0).all())
        print('\n')

Age
True


Annual Income
True


Credit Score
True


Health Score
False


Insurance Duration
True


Number of Dependents
True


Premium Amount
True


Previous Claims
True


Vehicle Age
True

확인 결과 Health Score 열을 제외하고 다른 열은 모두 소수 자리가 0이다. 그래서 열의 의미, 값의 범위, 연속형 데이터, 이산형 데이터를 생각했을 때 Int32가 적합하다고 생각된다. 하지만 모델링 단계에서 정규화를 고려하고 이전의 고려 사항들을 모두 고려했을 때 모두 float64로 변환하는 것이 가장 적합하다고 판단했다.

숫자형 데이터를 모두 float64로 변환

In [24]:
for column in frame.columns:
    if frame[column].dtype in ('float64', 'float32', 'Int64', 'Int32', 'int64', 'int32'):
        frame[column] = frame[column].astype('float64')

frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478860 entries, 0 to 1478859
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1455470 non-null  float64
 1   Annual Income         1419956 non-null  float64
 2   Credit Score          1313092 non-null  float64
 3   Customer Feedback     1382687 non-null  object
 4   Education Level       1478860 non-null  object
 5   Exercise Frequency    1478860 non-null  object
 6   Gender                1478860 non-null  object
 7   Health Score          1394187 non-null  float64
 8   Insurance Duration    1478859 non-null  float64
 9   Location              1478860 non-null  object
 10  Marital Status        1455312 non-null  object
 11  Number of Dependents  1341302 non-null  float64
 12  Occupation            1039497 non-null  object
 13  Policy Start Date     1478860 non-null  object
 14  Policy Type           1478860 non-null  object
 15  Premium Amount        1477019 non-null  float64
 16  Previous Claims       1033543 non-null  float64
 17  Property Type         1478860 non-null  object
 18  Smoking Status        1478860 non-null  object
 19  Vehicle Age           1478854 non-null  float64
dtypes: float64(9), object(11)
memory usage: 225.7+ MB

object 변수 분류 및 변환

object 변수 분류

In [25]:
for column in frame.columns:
    if frame[column].dtype == 'object':
        print(column)
        print(frame[column].dtypes == 'object')
        print('\n')

Customer Feedback
True


Education Level
True


Exercise Frequency
True


Gender
True


Location
True


Marital Status
True


Occupation
True


Policy Start Date
True


Policy Type
True


Property Type
True


Smoking Status
True

In [26]:
for column in frame.columns:
    if frame[column].dtype == 'object':
        print(column)
        print(frame[column].unique())
        print('\n')

Customer Feedback
['Poor' 'Average' 'Good' nan]


Education Level
["Bachelor's" "Master's" 'High School' 'PhD']


Exercise Frequency
['Weekly' 'Monthly' 'Daily' 'Rarely']


Gender
['Female' 'Male']


Location
['Urban' 'Rural' 'Suburban']


Marital Status
['Married' 'Divorced' 'Single' nan]


Occupation
['Self-Employed' nan 'Employed' 'Unemployed']


Policy Start Date
['2023-12-23 15:21:39.134960' '2023-06-12 15:21:39.111551'
 '2023-09-30 15:21:39.221386' ... '2020-10-26 15:21:39.291118'
 '2022-11-13 15:21:39.291118' '2024-01-14 15:21:39.291118']


Policy Type
['Premium' 'Comprehensive' 'Basic']


Property Type
['House' 'Apartment' 'Condo']


Smoking Status
['No' 'Yes']

열의 의미, 열의 값을 고려했을 때 다음과 같이 범주형 변수를 분류하고 그 세부 분류를 했다.

명목형 변수

Gender, Location, Maritial Status, Occupation, Property Type, Smoking Status

명목형 변수로 분류된 모든 열의 범주가 적어서 모두 모델링 단계에서 One-Hot Encoding이 적합하다고 판단했고 데이터 분석 단계에서는 CategoricalDtype(ordered=False) 함수가 적합하다고 판단했다.

순서형 변수

Customer Feedback, Education Level, Exercise Frequency, Policy Type

순서형 변수는 모델링 단계에서는 Ordinal Encoding을 사용하고 데이터 분석 단계에서는 CategoricalDtype(ordered=True) 함수를 사용하는 것이 적합하다고 판단했다.

예외
Policy Start Date(날짜형)

Policy Start Date는 날짜 데이터이므로 데이터 분석 단계에서는 datetime64으로 변환하여 분석 후 모델링 단계에서 오늘 날을 기준으로 경과일을 기준으로 float64으로 변환하는 것이 적합하다고 판단했다.

명목형 변수 변환

명목형 변수 - ordered == False

Gender, Location, Marital Status, Occupation, Property Type, Smoking Status

In [27]:
columns = ['Gender', 'Location', 'Marital Status', 'Occupation', 'Property Type', 'Smoking Status']

for column in columns:
    frame[column] = frame[column].astype("category")

for column in columns:
    print(f"Column : {column}")
    print("Categories : ", frame[column].cat.categories)
    print("Ordered : ", frame[column].cat.ordered, "\n")

Column : Gender
Categories :  Index(['Female', 'Male'], dtype='object')
Ordered :  False

Column : Location
Categories :  Index(['Rural', 'Suburban', 'Urban'], dtype='object')
Ordered :  False

Column : Marital Status
Categories :  Index(['Divorced', 'Married', 'Single'], dtype='object')
Ordered :  False

Column : Occupation
Categories :  Index(['Employed', 'Self-Employed', 'Unemployed'], dtype='object')
Ordered :  False

Column : Property Type
Categories :  Index(['Apartment', 'Condo', 'House'], dtype='object')
Ordered :  False

Column : Smoking Status
Categories :  Index(['No', 'Yes'], dtype='object')
Ordered :  False

순서형 변수 변환

순서형 변수 - ordered == True

Customer Feedback, Education Level, Exercise Frequency, Policy Type

In [28]:
columns = ['Customer Feedback', 'Education Level', 'Exercise Frequency', 'Policy Type']
unique = [['Poor', 'Average', 'Good'], ['High School', "Bachelor's", "Master's", 'PhD'], ['Daily', 'Weekly', 'Monthly', 'Rarely'], ['Basic', 'Comprehensive', 'Premium']]

for column in columns:
    frame[column] = frame[column].astype("category")

columns = ['Customer Feedback', 'Education Level', 'Exercise Frequency', 'Policy Type']

for set_cat, column in zip(unique, columns):
    frame[column] = frame[column].cat.set_categories(set_cat, ordered=True)

for column in columns:
    print(f"Column : {column}")
    print("Categories : ", frame[column].cat.categories)
    print("Ordered : ", frame[column].cat.ordered, "\n")

Column : Customer Feedback
Categories :  Index(['Poor', 'Average', 'Good'], dtype='object')
Ordered :  True

Column : Education Level
Categories :  Index(['High School', 'Bachelor's', 'Master's', 'PhD'], dtype='object')
Ordered :  True

Column : Exercise Frequency
Categories :  Index(['Daily', 'Weekly', 'Monthly', 'Rarely'], dtype='object')
Ordered :  True

Column : Policy Type
Categories :  Index(['Basic', 'Comprehensive', 'Premium'], dtype='object')
Ordered :  True

날짜형 데이터 타입 변환

날짜형 변수 - datetime64[ns]

Policy Start Date

In [29]:
frame['Policy Start Date'] = frame['Policy Start Date'].astype("datetime64[ns]")
print(frame['Policy Start Date'].dtypes)

datetime64[ns]

모든 열의 데이터 타입 확인

In [30]:
print(frame.dtypes)

Age                            float64
Annual Income                  float64
Credit Score                   float64
Customer Feedback             category
Education Level               category
Exercise Frequency            category
Gender                        category
Health Score                   float64
Insurance Duration             float64
Location                      category
Marital Status                category
Number of Dependents           float64
Occupation                    category
Policy Start Date       datetime64[ns]
Policy Type                   category
Premium Amount                 float64
Previous Claims                float64
Property Type                 category
Smoking Status                category
Vehicle Age                    float64
dtype: object

모든 열을 분석을 위해 의도한 타입으로 변환 완료